{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ $isIndexPage := or (eq .Kind "taxonomy") }}
  <div {{ if $isIndexPage }}class="flex space-x-4 flex-wrap"{{ end }}>
      {{ $pages := (cond (and (eq .Type "articles") (ne .Kind "section") (gt .Site.Paginate 0)) (where .Site.RegularPages "Section" "articles") .Pages) }}
      {{ range (.Paginate $pages).Pages }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ if not $isIndexPage }}
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}" class="my-2">{{ $dateHuman }}</time>
      {{ end }}
      {{ $summary := replace (replace .Summary "#" "") .Title "" }}
      <p>{{ $summary }}</p>
      {{ if not $isIndexPage }}
        <a href="{{ .RelPermalink }}" class="text-blue-600 hover:underline">Read more...</a>
      {{ end }}
    {{ end }}
  </div>
  <div id="pagination">
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
