{{ define "main" }}
<h1>{{ .Title }}</h1>
<div id="table-of-contents">
    <h6>Table of Contents</h6>
    {{ .TableOfContents }}
</div>
{{ .Content }}
{{ partialCached "blog/conclusion.html" . }}
{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
<nav class="mt-5">
    <ul class="flex justify-between">
        {{ if .PrevInSection }}
        <li><a href="{{ .PrevInSection.Permalink }}"> <span aria-hidden="true">«</span> Previous</a></li>
        {{ end }}
        {{ if .NextInSection }}
            <li class="justify-self-end"><a href="{{ .NextInSection.Permalink }}">Next <span aria-hidden="true">»</span></a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}