@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

body {
    font-family: 'Roboto Mono', monospace;
}

p {
    word-break: break-all;
    white-space: normal;
}

nav#menu:before,
div#footer-points-of-interest-nav:before,
nav#points-of-interest:before,
nav#blog-navigation:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgb(156, 163, 175);
    width: 20px;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    left: calc(50% - 1px);
    
    flex: 1;
    background-color: white;
    height: 20px;
    background-color: rgb(249, 250, 251);
}

nav#menu:after,
div#footer-points-of-interest-nav:after,
nav#points-of-interest:after,
nav#blog-navigation:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgb(156, 163, 175);
    width: 20px;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    left: calc(50% + 1px);
    background-color: rgb(249, 250, 251);
}

div#footer-points-of-interest-nav:before {
    margin-top: -1.4em;
}

div#footer-points-of-interest-nav:after {
    margin-top: -0.5em;
}

nav#blog-navigation:after {
    margin-top: 0.8em;
}

nav#blog-navigation:before {
    margin-top: 1.5em;
}

nav#menu:after {
    margin-top: -3.2em;
}

nav#menu:before {
    margin-top: -2.6em;
}

nav#points-of-interest:after {
    margin-top: 0.9rem;
}

nav#points-of-interest:before {
    margin-top: 1.5rem;
}

div#pagination > ul.pagination {
    display: flex;
    margin-left: auto;
        margin-right: auto;
        width: fit-content;
}

div#pagination > ul > li.page-item {
    margin-left: 1rem;
}

div#pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav#TableOfContents > ul {
    list-style-type: disc;
    list-style-position: inside;
}

@media (min-width: 640px) {
    .mx-auto-main {
        margin-left: auto;
        margin-right: auto;
    }
}