{{ if not (eq site.Params.SubscribeURL nil) }}
<div class="flex flex-col mx-auto">
    <div
        class="hidden z-100 fixed top-[5%] left-[5%] bg-teal-100 border-l-4 border-teal-500 text-teal-700 p-4"
        role="alert"
        id="mail-success"
    >
        <p class="font-bold">Subscription success</p>
        <p>You have been subscribed to hour mailing list.</p>
    </div>
    <div
        class="hidden z-100 fixed top-[5%] left-[5%] bg-red-100 border-l-4 border-red-500 text-black-700 p-4"
        role="alert"
        id="mail-fail"
    >
        <p class="font-bold">Subscription failed</p>
        <p>Something not ideal might be happening.</p>
    </div>
    <div class="w-full lg:w-1/2 flex flex-col mx-auto sm:mx-0 mt-3 mb-5">
        <h2 class="text-2xl font-bold">Subscribe to my newsletter</h2>
        <form>
            <div class="form-group mt-1">
                <label for="first_name" class="text-sm font-bold"
                    >Given name<span class="inline-block align-top pl-1 text-red-600">*</span></label
                >
                <input
                    type="text"
                    id="first_name"
                    name="first_name"
                    class="w-full p-2 mt-2 border border-gray-300 rounded-md"
                    required
                />
            </div>
            <div class="form-group mt-1">
                <label for="last_name" class="text-sm font-bold"
                    >Family name<span class="inline-block align-top pl-1 text-red-600">*</span></label
                >
                <input
                    type="text"
                    id="last_name"
                    name="last_name"
                    class="w-full p-2 mt-2 border border-gray-300 rounded-md"
                    required
                />
            </div>
            <div class="form-group mt-1">
                <label for="email" class="text-sm font-bold"
                    >Email<span class="inline-block align-top pl-1 text-red-600">*</span></label
                >
                <input
                    type="email"
                    id="email"
                    name="email"
                    class="w-full p-2 mt-2 border border-gray-300 rounded-md"
                    placeholder="Enter your email address"
                    required
                />
            </div>
            <button type="submit" class="p-4 mt-5 text-white bg-blue-500 rounded-md hover:bg-blue-600">
                Subscribe
            </button>
        </form>
    </div>

    <script>
        const form = document.querySelector("form");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const data = {
                email: formData.get("email"),
                name: `${formData.get("first_name")} ${formData.get("last_name")}`,
                status: "enabled",
                lists: [parseInt("{{ site.Params.SubscribeListId }}")],
                preconfirm_subscriptions: true,
                attribs: {},
            };
            const response = await fetch("{{ site.Params.SubscribeURL }}", {
                method: "{{ site.Params.SubscribeMethod }}",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data).replace(
                    '"{{ site.Params.SubscribeListId }}"',
                    parseInt("{{ site.Params.SubscribeListId }}"),
                ),
            });
            const result = await response.json();
            const mailingResultSuccess = document.getElementById("mail-success");
            const mailingResultFail = document.getElementById("mail-fail");
            if (response.status === 200) {
                while (mailingResultSuccess.classList.contains("hidden")) {
                    mailingResultSuccess.classList.remove("hidden");
                }
                mailingResultFail.classList.add("hidden");
            } else {
                while (mailingResultFail.classList.contains("hidden")) {
                    mailingResultFail.classList.remove("hidden");
                }
                mailingResultSuccess.classList.add("hidden");
            }

            setTimeout(() => {
                mailingResultSuccess.classList.add("hidden");
                mailingResultFail.classList.add("hidden");
            }, 5000);
        });
    </script>
</div>
{{ end }}
