<h2 id="conclusion"><a href="#conclusion" class="link-anchor">#</a> Conclusion</h2>
<p>That its folks! Thank you for following up until here, and if you have any question or just want to chat, send me a
    message on GitHub of this project or an email. Am I doing it right?</p>
<p><a href="https://github.com/{{ .Site.Params.social.github.username }}/{{ .Site.Params.social.github.username }}.github.io">https://github.com/{{ .Site.Params.social.github.username }}.github.io</a></p>
<p><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></p>